<p id="notice"><%= notice %></p>

<% if @post.main_image.attached? %>
  <p>
    <%= image_tag @post.main_image, width: '50%' %>
  </p>
<% end %>

<% if @post.other_images.attached? %>
  <p>
    <% @post.other_images.each do |other_image| %>
      <%= image_tag other_image, width: '10%' %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
